.react-calendar {
  background-color: #111827 !important;
  color: white !important;
  border: none;
}

.react-calendar__navigation button {
  color: white !important;
  background: none;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.react-calendar__tile:hover {
  background: #374151 !important;
  color: white !important;
  border-radius: 8px;
}

.react-calendar__month-view__weekdays__weekday {
  color: #71717A !important; 
  font-size: 12px !important; 
  font-weight: bold !important;
  text-decoration: none;
  list-style: none !important;
}

.react-calendar__month-view__weekdays {
  display: flex;
  text-align: center;
  list-style: none !important;
}



.react-calendar__month-view__weekdays__weekday:last-child,
.react-calendar__month-view__days__day--weekend:last-child {
  display: none !important;
}

.react-calendar__month-view__weekdays,
.react-calendar__month-view__days {
  grid-template-columns: repeat(6, 1fr) !important;
}
